
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <!-- TODO: When your site is hosted on heroku/aws/whatever you should host this image, not hotlink it. -->
    <img src="https://lh4.ggpht.com/Ppk1lkYQss2tKifA_msniIjYym0cJPAcdDKk9-pTYBX2Ry93WRjXv84MDSBbVfk_tw=w300" style="height:100px;width:100px;float:right;">
  </head>
  <body><br><br>
    <h1>Welcome to GradeBook!</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <h4>You have successfully signed up to GradeBook, <br>

    To login to the site, just follow this link: <%= @url %>. <br>

    Thanks for joining and have a great day!</h4>

  </body>
</html>
