<div>
  Welcome, <%= @student.first_name %>!
</div>
Pick your courses:
<select>
<% @courses.each do |course|%>
  <option><%=course.name%></option>
  <%= course.name+course.number.to_s%>
<%end%>
</select>
