<div>
  Welcome, <%= @student.first_name %>!
</div>
<br>
<br>
<table class="highlight">
  <thead>
    <tr>
        <th data-field="name">Course Name</th>
        <th data-field="grade">Avg Grade</th>
    </tr>
  </thead>
  <tbody>
    <%@enrollment.each do |enroll|%>
    <!-- TODO: NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
    <%@assignments = Assignment.where(course_id:enroll.course_id)%>
      <tr>
        <td><h5><%=link_to "#{Course.find(enroll.course_id).name}", student_show_course_path({course_id:"#{enroll.course_id}", student_id:@student.id})%><h6></td>
        <td><%=(enroll.tot_grade/@assignments.length).round(2)%></td>
      </tr>
      <%end%>
  </tbody>
</table>
