<div>
  Welcome, <%= @student.first_name %>!
</div>
<br>
<br>
<table class="highlight">
  <thead>
    <tr>
        <th data-field="name">Course Name</th>
        <th data-field="grade">Avg Grade</th>
    </tr>
  </thead>
  <tbody>
    <%@enrolled_course.each do |course|%>
    <%@assignments = Assignment.where(course_id:course.id)%>
      <tr>
        <td><h5><%=link_to "#{course.name}", student_show_course_path({course_id:"#{course.id}", student_id:@student.id})%><h6></td>
        <td>
        
        </td>
      </tr>
      <%end%>
  </tbody>
</table>
