<div>
  Welcome, <%= @student.first_name %>!
</div>
Pick your courses:
<%= form_for @my_courses, do |f| %>
<% @courses.each do |course|%>
  <%= f.select :course_id, ["#{course.name}"] %>
  <%= f.submit "Add" %>
<%end%>
<%end%>
