<h1>made it</h1>
<%= @course.name%> <br>
<% @assignments.each do |assignment| %>
  <%=link_to("#{assignment.name}", assignment_show_path)%> <br>
<% end %>
<%= link_to("New Assignment", new_assignment_path)%> <br>
