<h1>Welcome to GradeBook!</h1>
<br><br><div>
  <%= image_tag("apple2.png", height: '325', width: '250', class: 'image') %>
  <%= image_tag("students.jpg", height: '275', width: '375', class: 'image')%>
  <%= image_tag("aplus.png", height: '275', width: '250', class: 'image')%>
</div>
